.hero {
  width: 100%;
  height: 100%;
  position: relative;

  z-index: 0;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.531));
    z-index: 0;
  }

  img {
    object-fit: cover;
    object-position: center 60%;
    width: 100%;
    height: 397px;
    filter: grayscale(1);

    @include vp-768 {
      height: 584px;
    }
  }
}


.hero .container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.hero--error .container {
  position: absolute;
  width: 100%;
  height: 100%;
top: 0;
left: 0;
  z-index: 5;

  .hero__wrapper,
.hero__text-wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  h2 {
    font-size: 54px;
    line-height: 60px;

    @include vp-500 {
      font-size: 74px;
      line-height: 80px;
    }

  }
}
}

.hero__wrapper,
.hero__text-wrapper {
  position: absolute;
  width: 90%;
  height: auto;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;

  @include vp-1440 {
    top: 25px;
  }

  h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;

    color: $color-default-white;
    max-width: 820px;

    margin-top: 15px;
    margin-bottom: 10px;

    @include vp-500 {
      font-size: 38px;
      line-height: 45px;
    }

    @include vp-768 {
      font-size: 48px;
      line-height: 53px;
    }
  }

  p {
    font-size: 15px;
    font-weight: 400;
    line-height: 23px;
    text-align: left;

    text-align: left;
    color: $color-default-white;
    margin-top: 15px;
    margin-bottom: 10px;

    @include vp-768 {
      font-size: 16px;
      line-height: 26px;
    }
  }


}
