.news {
  padding: 30px 0 50px;

  .button--red {
    background-color: $color-default-white;
    border: 1px solid $red;
    color: $red !important;
    width: 200px;
    font-weight: 500 !important;
    margin: 0;
  }

  .button--transparent {
    border-color: $color-black;
    color: $color-black;
  }

  .container {
    max-width: 1024px;
  }

  .news__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 0;
    padding: 0;

    li {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        background-color: $color-light-gray;
        bottom: -25px;
      }

      &:last-of-type {
        &::after {
          content: none;
        }
      }

      h3 {
        font-size: 20px;
        font-weight: 700;
        line-height: 24px;
        text-align: left;
        display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 40px;
      }

      p {
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;

        display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 40px;
      }

      div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        span {
          font-size: 15px;
          font-weight: 300;
          line-height: 22.5px;
          text-align: center;
          color: $color-gray;
        }

        a {
          font-size: 15px;
          font-weight: 300;
          line-height: 22.5px;
          text-align: center;
          color: $color-gray;

          &:hover,
          &:focus,
          &:active {
            opacity: 50%;
          }
        }
      }
    }
  }
}

.news__container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 50px 0;
  gap: 30px;

  @include vp-1024 {
    grid-template-columns: 3fr 2fr;
  }

  img {
    object-fit: cover;
    object-position: center 60%;
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    display: none;

    @include vp-1024 {
      height: 100%;
      display: block;
    }
  }
}

.news--page {
  margin: 30px 0;

  .container {
    max-width: 1024px;
  }

  .news__list {
    display: grid;
    grid-template-columns: 1fr;
    position: relative;

    @include vp-1024 {
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 1px;
        background-color: $color-light-gray;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 9;
      }
    }

    @include vp-1024 {
      grid-template-columns: 1fr 1fr;
      gap: 50px;
    }

    li {
      @include vp-1024 {
        &:nth-last-of-type(2) {
          &::after {
            content: none;
          }
        }
      }
    }
  }

  .button--red {
    @include vp-768 {
      margin: 0;
    }
  }

  .news__wrapper {
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 30px;

      span {
        color: $color-gray;
      }
    }
  }
}
